* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

#form {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border: 1px solid rgb(128, 18, 138);
    padding: 1.5rem;
    border-radius: 5px;
    background: url("../imagens/nebula.png.jpg");
    color: rgb(209, 190, 235);
}

#texto {
    border-radius: 5px;
    height: 1.6rem;
}

#enviar {
    cursor: pointer;
    width: 4rem;
    height: 1.6rem;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
